[2019-03-22 14:39] plibither8 opened #1 "Add small delay in opening "user info" card on hover"
Preferably add a small delay (~200 millisecond) in opening the "user-info" div. When the cursor has been over the username for more than set threshold, then only display the card, otherwise abort.

[2019-03-22 15:08] plibither8 opened #2 "Firefox support for syncing/storing options"
Currently, Firefox is not storing or syncing the extension options via `webext-options-sync`. This should be looked into, keeping in mind how Refined GitHub does it.

[2019-03-22 15:10] plibither8 opened #3 "Toggle vote of active element by hitting "U" hotkey"
Currently, the <kbd>U</kbd> shortcut when pressed only upvotes the active item. If the item is already upvotes, pressing <kbd>U</kbd> should un-vote it.

[2019-03-22 15:13] plibither8 opened #4 "Don't auto-refresh if internet connection is disrupted"
When internet connection is disrupted, auto refresh is not able to `fetch` new items and produces the following error:
[code]

Check for active and working internet connection before attempting a `fetch`.

[2019-03-22 16:00] plibither8 opened #5 "Ctrl+Enter in replies/comments/submissions to submit form"
Commonly used <kbd>Ctrl</kbd>+<kbd>Enter</kbd> key combination for submitting forms. Implementation separately as a new feature.

[2019-03-25 08:44] #5 closed, assigned to nobody

[2019-03-25 09:17] #4 closed, assigned to nobody

[2019-03-25 15:46] plibither8 opened #6 "Add support for "command" key for macOS user"

[2019-03-25 15:59] #6 closed, assigned to nobody

[2019-03-25 20:37] #3 closed, assigned to nobody

[2019-03-27 12:26] plibither8 opened #7 "Add code comments on feature files detailing ID, purpose, active pages etc"
Something like:
[code]

[2019-03-27 12:46] plibither8 opened #8 "Pass arguments (including user detection, login requirement etc.) into `add` method of feature via object"

[2019-03-31 19:18] #8 closed, assigned to nobody

[2019-04-10 18:40] plibither8 opened #10 "Long word strings overflowing in user/item info card (hover)"

[2019-04-10 18:41] plibither8 opened #11 ""Hide stories" not hiding text posts"

[2019-04-11 06:55] plibither8 opened #12 "key-bindings-on-items: Scroll to top of the page "UP" key is pressed at index 0"

[2019-04-11 06:56] plibither8 opened #13 "Refine reference link parser to include more variations"
Variations include:

* ~`[1]https://google.com`~ Fixed in #16
* ~`[1]. https://google.com`~ Fixed in #16
* ~`1. https://google.com`~ Fixed in #16
* `[1] https://google.com [2] https://bing.com`

[2019-04-11 08:53] plibither8 opened #14 "key-bindings-on-items: Navigate through same-indented comments when SHIFT key is pressed"

[2019-04-11 08:55] #12 closed, assigned to nobody

[2019-04-11 16:59] #14 closed, assigned to nobody

[2019-04-15 03:37] #10 closed, assigned to nobody

[2019-04-15 03:37] #11 closed, assigned to nobody

[2019-04-29 06:11] #7 closed, assigned to nobody

[2019-04-29 06:11] plibither8 opened #20 "Popup box border-color should match topcolor set by user"

[2019-05-19 06:58] #20 closed, assigned to nobody

[2019-05-19 07:42] plibither8 opened #21 "Handle URL query params more neatly in the Polls page"

[2019-05-21 06:07] plibither8 opened #22 "Feature: Highlight new (unread) comments since last page visit"

[2019-06-01 16:52] #22 closed, assigned to nobody

[2019-06-02 05:32] #2 closed, assigned to nobody

[2019-06-13 15:08] chris-morgan opened #25 "Features should not cause layout flap as they load"
Just trying this now, and the fact that enhancements take time to load, but they modify the document layout, causing layout flap, makes it quite painful to use.

A couple that immediately stood out:

- `.__rhn__comment-indent` uses `border-right: 1px solid #ccc` which increases its width by one pixel, making the comment shift a pixel to the right (and consequently occasionally reflow the text as w

[2019-06-13 15:10] chris-morgan commented on #25
Ugh, just reloaded the front page, and the layout flap there is *really* painful, my remarks on the “toggle all comments” button/link go triple for `.__rhn__options-bar`.

[2019-06-13 15:20] chris-morgan opened #26 "Clicks should only be intercepted if unmodified"
Take the “reply” link as an example. (There may be others, but I know this one.) If I didn’t use the left mouse button, or if I am holding down a modifier key, it should let the browser do its thing rather than showing the form inline. Ctrl-click, Cmd-click and middle-click, for example, will most likely open the link in a new tab.

This is the function we use at FastMail:

[code]

… then almost a

[2019-06-13 15:33] plibither8 commented on #25
Hi!

Thanks very much for this suggestion. It'll be implemented in the next update (today itself).

Floating the link to right of the "add comment" button will only be possible on those items that are not so old that one cannot reply on them. So it's not a _universal_ solution per se. Also, I believe that this "action" of toggling won't be appropriate to add as a link in the `.subtext`.

Of course

[2019-06-13 15:35] plibither8 commented on #26
Again, great suggestion! I'll implement this in the next few updates of the extension :)

[2019-06-13 17:02] stinos opened #27 "Keep inline editing of comments on same page"
When clicking `edit` for a comment the inline editing form shows (just like for creating a comment), but after clicking the `Update` button HN navigates to the comment editing page (`https://news.ycombinator.com/edit?id=xxx`) instead of staying on the original page. Acoording to the HN thread for this `that's a backend issue, it's how Hacker News handles the forms after they have been submitted`

[2019-06-13 17:05] plibither8 commented on #27
Thanks for opening this issue.

On further thought, I think this is very much possible. The form should submitted using `fetch()` which will make an HTTP request in the background. After this, the page can be refreshed.

I'll work on this issue for the next extension update. Cheers!

[2019-06-13 17:16] zenakuten opened #28 "Feature request: hide-paywalled-sites"
Removes all links from wsj, nytimes, bloomberg, etc

Paywalled sites are a constant source of contention.  From HN FAQ:

    " It's ok to post stories from sites with paywalls that have workarounds.
    In comments, it's ok to ask how to read an article and to help other users do so.
    But please don't post complaints about paywalls. Those are off topic. "

And yet they are constantly complained

[2019-06-13 17:42] #26 closed

[2019-06-13 18:58] doesntgolf opened #29 "Feature request: tag users"

[2019-06-13 20:11] andspenrob opened #30 "Extend Vertical Line on Parent Comments Thru Child Comments for Readability"
The variable indent helps separate the parent-child hierarchy, but extending the left borders of the parents would help track threads even more clearly! If this is easy enough to implement, it would be a huge improvement to readability!

I mocked up an example in the attached image...
![Vertical Line Example](https://user-images.githubusercontent.com/51801119/59464224-b4f83e00-8ddc-11e9-9250-bbbe0

[2019-06-13 20:30] sted opened #31 "Safari?"

[2019-06-13 21:14] cdtinney commented on #25
@plibither8 perhaps the options bar could be rendered in a "collapsed" mode by default to make it slightly less jarring.

[2019-06-13 21:17] cdtinney commented on #28
@plibither8 I'd be happy to pick this up

[2019-06-13 21:28] Ajedi32 commented on #25
I think the main cause of this issue is that the features currently load in sequence rather than in parallel:

https://github.com/plibither8/refined-hacker-news/blob/a43ecc4525166fe8f95614a6733e2b2441e2300d/src/libs/initialise.js#L139-L142

This, combined with the fact that some features seem to require network operations to fully load, results in a significant delay between when the page loads, a

[2019-06-13 23:54] nick-s-b opened #32 "Feature suggestion: Ability to hide HN advertising aka "job ads""
Hi,
HN is often full of YC companies' job ads since they get a free boost on the front page. And the only thing you can do is hide them.
I wish there was a way to hide them automatically. Can someone make it happen?
Thanks for an amazing extension ❤️ !

[2019-06-14 00:00] nick-s-b commented on #29
I currently use [HN-Friends](https://github.com/veggiedefender/hn-friends) and it's OK but you have to open a person's profile page to tag them. That can get very tedious quickly. I wish RHN had this feature since I bet it would be easier to use. Ideally you should be able to tag them from the comments page.

[2019-06-14 00:44] skorokithakis opened #33 "Add short explanation on permissions"
I saw the extension on HN and it looks great and I want to use it, but I'd like to know why it needs to access my browsing history. Will it send the data anywhere? Perhaps there could be an explanation in the README or the extension page.

[2019-06-14 02:04] cdtinney commented on #25
@Ajedi32  good catch. Considering linting was disabled for the `await`, however, maybe it was intentional to add them in a specific order (i.e. the order of `featureList`)?

[2019-06-14 02:20] nick-s-b commented on #25
![Screenshot from 2019-06-13 22-17-14](https://user-images.githubusercontent.com/7957590/59479005-6329d500-8e29-11e9-8049-5bd0f7d4aed4.jpg)

The biggest layout flap is the RHN header. It shifts all the stories down after the extension loads. I've misclicked on a story numerous times today because of this and it's extremely annoying. It also cannot be disabled.

Can we have an option to hide the RH

[2019-06-14 03:27] plibither8 commented on #33
Persmission to access browsing history is required for the `hide-read-stories` feature. The feature needs to check whether the story has been visited in the past, ie, it's in your history.

No data whatsoever, including browsing history, is sent anywhere by this extension. All data, whatever stored, is stored locally or synced to your Chrome account.

Thanks for the suggestion to explain the permi

[2019-06-14 03:29] plibither8 commented on #32
Hey! When you say "hide", do you mean just removing them/making them invisible, or the HN button "hide"?

[2019-06-14 03:33] plibither8 commented on #31
Hi!

I won't be supporting Safari extension development. As mention in one of the Hacker News comments:

and

Cheers!

[2019-06-14 03:33] #31 closed

[2019-06-14 04:13] nick-s-b commented on #32
@plibither8 Yes... making it equivalent to hitting hide. I just don't want to see them at all since those are useless to me.

[2019-06-14 04:17] plibither8 commented on #32
Such a feature, if implemented, will be better if disabled by default since not all users would want HN Jobs to be hidden. What do you say?

[2019-06-14 04:32] chris-morgan commented on #25
A simple rough fix for the header:

[code]

As it stands this CSS is typically not loaded until just after the first draw, so there’s still *slight* layout flap, but it’s much less.

[2019-06-14 04:51] nick-s-b commented on #32
@plibither8 Sure! An option that's not enabled by default is fine by me :)

[2019-06-14 04:52] plibither8 commented on #32
Alright then! I'll work on this for the next update :)

Cheers

[2019-06-14 04:54] nick-s-b commented on #25
@chris-morgan how about a way to just completely hide the RHN header?

[2019-06-14 05:31] chris-morgan commented on #25
[code]

[2019-06-14 06:08] plibither8 commented on #25
I'll give a more detailed response to all the conversation soon, but if you want to remove the options bar completely, just disable all the three features that depend on it:

* sort-stories
* hide-read-stories
* auto-refresh

[2019-06-14 17:26] VinceG3 opened #34 "Feature Request - Navigation Keymaps"
Hi, I'd love to have keymaps in order to easily navigate to HN sections, for example alt-h for home and alt-t for threads, maybe alt-s for submit and alt-p for profile

[2019-06-14 18:04] christopher-dG opened #35 "Feature request: Linkify footnotes and markdown links"
Footnotes:

[code]

Here it would be great to be able to click on the first `[1]` and be taken to github.com.

Markdown:

[code]

Here it would be great to render a link the way it appears [here](https://github.com).

It might also be nice to just render all comments as Markdown, but that's a separate feature...

[2019-06-14 20:54] leshokunin opened #36 ""Hide All" feature"
The Hide keyboard shortcut is great! It'd be nice to have a hide all / hide what's on the current page kind of functionality, so you don't always see the same thing when you come back to the site :)

[2019-06-15 03:42] plibither8 commented on #30
Hey!

This is an enhancement that, during the extension development, I've tried to implement. I gave up after a while, realising that due to the non-nested nature of all the HTML elements in the comments, and the fact that they are using a `table`, it almost seems impossible.

If someone else can give me an idea on how to solve this issue, I'd be really happy, but as for now I'll have close this i

[2019-06-15 03:42] #30 closed

[2019-06-15 03:45] plibither8 commented on #28
Hey @cdtinney,

I think the best way to move forward with this extension would be to generalise it and make it into `blacklist-story-url`.

The URL matching patterns can be inputted by the user in the extension popup on a separate field. All story URLs matching these URL patterns will be hidden automatically.

What do you think about it @zenakuten?

[2019-06-15 03:46] plibither8 commented on #29
I'll look into this soon!

[2019-06-15 03:47] plibither8 commented on #36
Uday, where should the "hide all" button be placed? In the options bar?

[2019-06-15 03:49] plibither8 commented on #34
Hey, thanks for opening this issue and great suggestion! My only concern is that some of these keymaps might interfere with keymaps used by other extensions or by the browser itself.

[2019-06-15 03:49] andspenrob opened #38 "Bug: Profile Links Dropdown not working"
A feature I really enjoy in HNES is that a logged-in user has a drop-down menu on-hover by their name in the upper-right, which lets you link to the various user pages that are available under the user ID link, including:

  | change password
  | submissions
  | comments
  | hidden
  | upvoted submissions / comments (private)
  | favorite submissions / comments (shared)

It makes it much easier to

[2019-06-15 03:53] plibither8 commented on #35
Hi!

This feature won't be easy to implement and it certainly won't work always. The thing about these numbered-reference links is that there is no "one" way or "correct" way to type them, which leads to many many different variations. Many times the number `[1]` does not correspond to the word to its left either. So there are many different exceptions there too.

If you take a look at the keybind

[2019-06-15 03:55] plibither8 commented on #38
It's already there, the `profile-links-dropdown` feature does exactly what you want! :slightly_smiling:

Tell me if I've understood it incorrectly.

[2019-06-15 03:56] plibither8 commented on #38
Clarification: instead of hovering over the username, you have to click it to access the dropdown.

[2019-06-15 04:06] andspenrob commented on #38
Glad you thought of this!

Hmm... This could be a bug with the Firefox Extension or some strange setting blocking the JS on my end...

Here are two screen-caps of a Console error and of a grayed out <div> when I inspect the down arrow button.

Any Ideas?

On Fri, Jun 14, 2019, at 8:56 PM, Mihir Chaturvedi wrote:

[2019-06-15 04:08] plibither8 commented on #38
I can't see the screencaps, would you mind sending them again?

[2019-06-15 04:08] andspenrob commented on #38
Images didn't take... Here they are again.
![SourceMapError](https://user-images.githubusercontent.com/51801119/59546771-87002000-8ee8-11e9-9b0c-3e62ad516fda.jpg)
![GrayedOutDiv](https://user-images.githubusercontent.com/51801119/59546773-89fb1080-8ee8-11e9-994b-173884b3657f.jpg)

[2019-06-15 04:09] andspenrob commented on #38
And this error seems to be a [Firefox bug](https://developer.mozilla.org/en-US/docs/Tools/Debugger/Source_map_errors?utm_source=mozilla&utm_medium=firefox-console-errors&utm_campaign=default#NetworkError_when_attempting_to_fetch_resource)?

[2019-06-15 04:11] plibither8 commented on #38
I think the network error (which is in fact a warning only) that is appearing is irrelevant to the extension.

The div is probably greyed out because `display` is set to `none` on it right now. Try clicking your username instead of the arrow to access the dropdown.

[2019-06-15 04:12] andspenrob commented on #38
When I click on the username, it just takes me to the standard HN page. I don't get a dropdown... :-(

[2019-06-15 04:25] plibither8 commented on #38
This is unfortunate :/

It might be a lot to ask, but could you record the screen and console while you click the dropdown? I couldn't get much from the screencaps

[2019-06-15 04:45] leshokunin commented on #36
I'd say top bar or "footer" on the side

[2019-06-15 04:59] plibither8 commented on #25
@chris-morgan @nick-s-b @Ajedi32 @cdtinney

How about adding an option in the popup to position the options bar at the bottom of the page instead of top? This way there won't be much of a visible layout flap too.

[2019-06-15 05:10] plibither8 commented on #38
My apologies! This is definitely a bug, I am facing it too!

Working on it right away.

[2019-06-15 05:17] #38 closed

[2019-06-15 05:22] plibither8 commented on #38
I'll be releasing the updated version of the extension soon!

[2019-06-15 05:52] nick-s-b commented on #25
@plibither8 that would be a lot better position since it wouldn't cause the page to shift. great idea!

[2019-06-15 06:13] plibither8 commented on #38
I have updated the Chrome and Firefox extensions from my end. The updates should be active soon. Thanks again for pointing this out! :)

[2019-06-15 07:06] #33 closed

[2019-06-15 09:51] infokiller opened #39 "Feature request: configurable keybindings"
This can be done similarly to https://github.com/infokiller/web-search-navigator by adding an options page and storing the options in browser.sync.

Happy to send a PR if you are open to merging.

Related HN comment: https://news.ycombinator.com/item?id=20189188

Thanks!

[2019-06-15 12:50] plibither8 commented on #39
Hi! This seems like a good idea :)

By adding a separate options page that is different from the popup page, we will have two places where one sets the extension settings, which doesn't look too good. All settings/options regarding the extension should be at one place only - either the popup or the options page.

Could you explain a bit more how you will implement this in the code? Or better still

[2019-06-15 17:04] zenakuten commented on #28
That works for me.

[2019-06-15 18:23] plibither8 commented on #25
Commits https://github.com/plibither8/refined-hacker-news/commit/c8f10c6a7c0a1a88565e68e2a9c2525f8346a49e and https://github.com/plibither8/refined-hacker-news/commit/9da1fa579f2d5b77808c1dda00c38f4e1ebeffac fix the two major issue points that have been discussed in this thread.

I will close the issue soon if no one objects.

[2019-06-16 07:03] infokiller commented on #39
Oh I wasn't aware of the pop up page, yes it definitely makes sense to add the customizations to that page.
Great, will send a PR soon.

[2019-06-16 07:04] plibither8 commented on #39
Great!

[2019-06-16 19:06] cdtinney commented on #28
That seems like a great solution in terms of generality but it could be made easier by providing some common lists (e.g. the sites mentioned) that can be enabled/disabled and then allowing custom patterns on top of that if users want flexibility.

e.g.

Blacklisted URLs
- [ ] Pay-walled sites (foo, bar, baz)
- [ ] Custom patterns (input below)

[2019-06-17 05:59] chris-morgan opened #41 "“Features to disable” textbox loses keypresses if you type quickly"
My guess, without referring to code, is that there’s some sort of slow two-way data binding involved. If I type at even fifty words a minute it still loses the occasional keypress; at a hundred words a minute it loses quite a few.

[2019-06-17 13:52] VinceG3 commented on #34
You could always just use command-control mappings like you do for some of the other actions. I just suggested alt because one of the other projects I use for a different site does the same thing. One option might be to do what gmail does, use the 'g' key for go, then the key pressed after determines where you go. e.g. for gmail you can press 'g' then 'i' to go to your inbox. Or 'g' then 'd' to go

[2019-06-17 14:06] plibither8 commented on #34
Yup, I thought so too.

I've already started working on the featured, going to be named `universal-key-bindings`. Is there a more appropriate name that comes to your mind?

[2019-06-17 15:29] plibither8 commented on #41
Yes, after looking into the problem deeper, I've realised that the 'OptionsSync' function causes this to happen. I think it's more appropriate to register this bug in the [webext-options-sync repo](https://github.com/bfred-it/webext-options-sync).

Thanks for pointing it out :)

[2019-06-17 15:29] #41 closed

[2019-06-17 15:39] plibither8 commented on #28
Hmm, but what if the user does not want to see stories from any pay-walled, except those from, say, NYT &ndash; then there should be a way to *whitelist* URLs too.
This seems like a complex solution to a simple problem.

I think the ideal way to move forward with this would be provide users with a `textarea` where a list URL patters can be inputted by the user. Along with this, there can be a _but

[2019-06-17 15:39] plibither8 commented on #28
Hmm, but what if the user does not want to see stories from any pay-walled, except those from, say, NYT &ndash; then there should be a way to *whitelist* URLs too.
This seems like a complex solution to a simple problem.

I think the ideal way to move forward with this would be provide users with a `textarea` where a list URL patters can be inputted by the user. Along with this, there can be a _but

[2019-06-17 15:40] plibither8 commented on #25
Since there are no objections, I'm closing this issue.

[2019-06-17 15:40] #25 closed

[2019-06-17 15:57] cdtinney commented on #28
Fair enough.

Textarea + button is along the lines of what I was thinking. That sounds
good to me. I can work on that.

Colin

On Mon, 17 Jun 2019 at 18:46, Mihir Chaturvedi <notifications@github.com>
wrote:

[2019-06-17 15:58] plibither8 commented on #28
Great, thank you!

[2019-06-17 18:46] VinceG3 commented on #34
`sitewide-key-bindings`?

[2019-06-19 14:56] ahartschen opened #42 ""Reply" button not being shown in some cases"
I cannot see the reply button on certain comments, but I can't determine what the pattern might be.
I tried the site without the extension installed and I could reply. Here's an example:

![image](https://user-images.githubusercontent.com/16945037/59776448-6f25f480-9278-11e9-9a2e-1203ffcb3a6b.png)

[2019-06-19 15:12] plibither8 commented on #42
That's strange. Have you been facing this on many comments?

If possible, could you send a screenshot of the console logs? It'll help to debug the extension. Thanks :)

[2019-06-19 15:15] ahartschen commented on #42
I scrolled through the page and saw in on few comments. It was always bottom level comments, but not every bottom level comment. I reloaded the page and it looked like reply was on everything. If I see the issue again I'll be sure to post the console logs.

[2019-06-19 15:24] plibither8 commented on #42
Thanks for the info. I'll look into this soon

[2019-06-19 15:37] plibither8 commented on #42
Looking into this further, it seems to an issue on HN's  side. Here is a screenshot from the same comments page but with the extension disabled:

![image](https://user-images.githubusercontent.com/31861755/59779503-00778400-92d6-11e9-968a-69fef17a7549.png)

Since this is a bug (probably) on Hacker News itself, I think I'll close this issue. It's best to inform HN by emailing them: hn@ycombinator.c

[2019-06-19 15:41] #35 closed

[2019-06-19 20:04] plibither8 opened #43 ""F" to favorite comment not working"

[2019-06-20 03:41] #43 closed

[2019-06-20 09:43] plibither8 opened #44 "Don't allow key-bindings when textarea is active"

[2019-06-20 13:11] plibither8 opened #45 "Enable favorite key-binding on `specialComments` and "favorites" page"

[2019-06-20 17:18] PierBover commented on #44
While writing a reply and pressing `f` it favorites the current parent.

There are other problems with this. I'm not sure which key binding it is, but the page got reloaded and my long comment got deleted.

[2019-06-20 17:48] plibither8 commented on #44
Yeah, I've faced the same issue. I'm currently working on the fix, expect an update anytime today. Thanks :)

[2019-06-20 17:49] PierBover commented on #44
Awesome!

This is a great extension btw. Super useful!

[2019-06-20 17:51] plibither8 commented on #44
Thank you so much! :smile:

[2019-06-20 18:21] #44 closed

[2019-06-20 18:21] #45 closed

[2019-06-20 23:27] valtism opened #46 "Typing 'r' in inline reply textbox opens/collapses reply box for highlighted item"
**Issue**

When using keyboard navigation, pressing r opens/closes the inline reply textbox. When typing in the expanded textbox, typing r collapses that textbox and deletes the comment.

If another item is highlighted, typing r opens that textbox and focuses it.

*Aside:* Other navigation still happens when typing, like j triggering next item.

**Proposed fix**

Disable keyboard shortcuts while t

[2019-06-21 03:54] plibither8 commented on #46
Hey Dan, thanks for opening this issue.

This bug was discussed on #44 and I've pushed the fix and release of it. The Firefox add on has been updated successfully but unfortunately the Chrome extension's update is "pending review" which is notoriously known to take almost a week to be successfully available on the webstore.

I will update you when the extension gets accepted on the Chrome Webstore

[2019-06-22 22:16] PierBover commented on #44
Have you updated the Chrome web store?

I'm still getting issues with key bindings when writing comments.

[2019-06-23 04:36] plibither8 commented on #44
Hey,

Unfortunately, Chrome has put the latest version of the extension on hold and now it's "pending review" which is notoriously known to take almost a week to be successfully completed.

![screenshot](https://imgur.com/a/v38sjER)

I had pushed the update 3 days back but I think we have to wait maybe 4 more days for this to complete.

I will update you as soon as the extension gets updated. Unti

[2019-06-23 16:03] PierBover commented on #44
No problem. Thanks for the update!

[2019-06-24 19:08] e40 opened #48 "Feature request: collapse all replies"
Different than hide all: make all replies collapsed by default.  This would be a huge improvement for me, since I really don't like seeing replies to comments, in the usual case.  Thanks!

[2019-06-28 00:41] nick-s-b opened #49 "Suggestion: Have an option to expand all the downvoted comments"
Hi,
Currently, HN (and RHN) hides all the comments if the parent comment has been downvoted. You have to click it to expand it and see what it's about.
Can we have an option to automatically expand all these comments?
Thanks!

[2019-06-28 01:55] plibither8 commented on #49
Hello,

When I implement this as a separate feature, I'll probably make this a disabled-by-default feature. Thanks for the suggestion and your continued active contributiont o better this extension! :)

[2019-06-28 01:59] plibither8 commented on #48
By replies, do you mean the top level comment's replies? So in the end only top-level comments are visible

[2019-06-28 02:00] plibither8 commented on #46
The extension has been updated on the Chrome Webstore, thanks for your patience :)

[2019-06-28 02:00] #46 closed

[2019-06-28 02:01] plibither8 commented on #44
The extension has been updated on the Chrome Webstore, thanks for your patience :)

[2019-06-28 19:01] e40 commented on #48
That's exactly what I mean, a setting to only show top-level comments, with all replies collapsed.

This would be a huge improvement to my HN experience.  Currently, I have to hide each top-level comment after I read it, rather than just scrolling down.  I rarely want to read replies.

[2019-06-28 19:07] plibither8 commented on #48
Noted, thanks!

[2019-06-29 17:33] plibither8 commented on #39
Hey @infokiller, any updates regarding this?

[2019-07-02 14:43] infokiller commented on #39
Sorry, didn't get to this yet... Hope to do it soon

[2019-07-02 14:44] plibither8 commented on #39
Alright!

[2019-07-09 15:52] prashantkhurana opened #50 "Better Collapse Top Level Comment"
Its very easy to collapse child comments by clicking anywhere to the left of the comment indentation (click-comment-indent-to-toggle feature). But for the parent comment its very difficult as you have to click exactly on the bar shown for indentation. Is it possible to increase the surface area where if clicked the top level comment closes?

[2019-07-09 16:13] plibither8 commented on #50
Thanks for opening this issue. This is a legitimate problem and I'll look into a implementing a solution very soon. Till then maybe you could try navigating comments via your keyboard, in which you can press the 'enter' key to toggle the selected comment [https://github.com/plibither8/refined-hacker-news/blob/master/README.md#keyboard-bindings](https://github.com/plibither8/refined-hacker-news/blo

[2019-07-11 14:11] plibither8 opened #53 "Bug: Ctrl+Enter not opening story link in new tab"

[2019-07-11 17:05] plibither8 commented on #53
Fixed by https://github.com/plibither8/refined-hacker-news/commit/f99d83a8efee445e038856fc0358f79e71793745

[2019-07-11 17:05] #53 closed

[2019-07-18 04:01] lookfirst opened #54 "Feature request: HNES ui"
First off, excellent work on this extension!

I come from being a user of [HNES](https://github.com/etcet/HNES). Due to the fact that the HNES author is far less active (I have several open PRs there) and the codebase is quite old with a lot of bugs, I'd like to jump ship.

That said, I've grown quite used to the HNES UI over time. Here is an example screenshot, actually with both extensions loade

[2019-07-18 04:09] lookfirst commented on #54
Screenshot of comments. I've tuned HNES a bit.

![image](https://user-images.githubusercontent.com/85355/61428438-4c0c6480-a94c-11e9-94fe-80cfc71a1945.png)

[2019-07-19 05:44] plibither8 commented on #54
Hi! First off, thanks for your kind words, and for creating this issue. :smile:

When first came up with the idea for this extension and when I started developing it, I wanted to make sure that I do not modify with the base style of HN - which of course I want to stick to throughout this extension's future.

Nevertheless, I get where you're coming from and I do believe that there are many users ou

[2019-07-19 16:17] plibither8 commented on #54
My reasons are mainly coming from the fact that a lot of HN users are used to and prefer the minimal, barebones style of the site. Almost all the extensions before RHN that brought in feature additions modified the style in some way or the other so as to make it not look like the original HN. What I wanted was an extension that was mainly focussed on functionality and very less on style modificati

[2019-07-21 04:11] lookfirst commented on #54
@plibither8 Excellent response. I agree with everything that you have said. Apologies for not responding quickly, but I've been traveling around Laos as well as working on a Flutter based app, so my time has been limited. When I have some time, I'll see what I can do to work on this, I'm definitely motivated. =)

As for Typescript... definitely switch and never look back at JS. A statically typed

[2019-07-24 06:45] olfilato opened #55 "Feature request: configurable upvote/downvote arrow size"
Make upvote/downvote arrow icon size configurable. Quite a few people on HN pointed out that the default size of the arrows is too small, and I agree with it myself. If the feature is approved, I am willing to submit a PR for it myself.

[2019-07-24 07:03] plibither8 commented on #55
Hey! Thanks for this, it's a great idea - and yeah, I approve it :)

Please send in a PR

Regards,
Mihir

On Wed, Jul 24, 2019, 12:15 oleg <notifications@github.com> wrote:

[2019-07-24 07:40] olfilato opened #56 "Build issue: stylus: command not found"
Trying to build the repo on macOS. Ran `npm install` successfully. Afterwards, trying to run either `npm run build` or `npm run watch` gives the `stylus: command not found` error.

[2019-07-24 07:47] plibither8 commented on #56
Try `npm install -g stylus `

[2019-07-24 08:06] olfilato commented on #56
Issue resolved, thanks! That should probably be mentioned in the contribution guide, however.

[2019-07-24 08:06] #56 closed

[2019-07-24 08:26] plibither8 commented on #56
Agreed, will do soon! Thanks :)

[2019-07-24 18:57] plibither8 commented on #54
Apologies for not replying earlier, didn't get a chance to get back to this issue up until now :sweat_smile:.

This extension was initially inspired Sindre Sorhus's extension Refined GitHub, which too later ported their extension codebase to TS from JS. So I can certainly understand the need to. I'm as motivated to make the shift to TS, I hope you can help me in that here.

Thanks for exemplifying

[2019-07-27 15:47] #34 closed

[2019-07-27 16:02] plibither8 commented on #54
Hey @lookfirst! Any updates?

[2019-07-27 18:38] hadrienbecle opened #58 "Bug: Ctrl opens 'undefined' page"
On Firefox 60.8.0esr with version 19.7.27.1549 of the extension, when I click on the Ctrl button, I'm redirected to https://news.ycombinator.com/undefined.

If I disable `site-navigation-key-bindings.js` in the settings, the problem disappears.

[2019-07-27 18:46] plibither8 commented on #58
I have just pushed a fix for this and uploaded the latest, fixed version. Thank you so much bringing this to notice.

[2019-07-27 18:46] #58 closed

[2019-07-27 18:47] hadrienbecle commented on #58
Wow that was fast! Thank you very much!

[2019-07-28 03:54] lookfirst commented on #54
@plibither8 Sorry man! Deep in Flutter/Dart land at the moment. Building a cross platform phone app. Hoping to have some 'free' time in a few weeks. I will say, you should check out Dart... I'm new to it myself. It is a very nice mix of the best stuff from Java/JavaScript/TypeScript/Go. I feel very productive in it. I just looked and it even seems like people are crazy enough to do extensions in i

[2019-07-28 04:21] plibither8 commented on #54
No worries at all, I was casually checking in! :)

I just checked out Dart and its official website - this really does seem interesting. I'll definitely consider this for the next technology I want to learn. Thanks for sharing!

[2019-07-29 13:31] Vixine opened #59 "can't enter "i" in the reply box"
when ever I enter "i" or "I" in the reply textbox the page redirects to https://news.ycombinator.com/undefined

[2019-07-29 13:40] plibither8 commented on #59
Hi, I really apologize for this bug. This was introduced two commits back and I had pushed a fix for it, but Chrome Web Store did not allow me to roll the version back. I have recently pushed an update to the extension that fixes this issue and you shall soon receive it. Until then, please disable `site-navigation-key-bindings` function. Thank you so much for your patience!

[2019-07-29 14:24] plibither8 commented on #59
Hi! I'd like to tell you that the extension has successfully been updated on the Chrome Web Store. If you want you can manually update it too! Thanks!

[2019-07-29 14:24] #59 closed

[2019-07-29 14:26] plibither8 commented on #55
Hey @olfilato, any updates! :smile:

[2019-07-29 17:46] compuguy commented on #59
That did the trick @plibither8!

[2019-07-29 20:06] olfilato commented on #55
I apologize for taking the time, been a bit busy with other commitments, as well as with ramping up on the codebase for the extension. Will try my best to push the PR this week.

[2019-07-30 02:59] plibither8 commented on #55
Sure, no issues.

[2019-07-30 15:05] PierBover commented on #59
I'm having a similar issue when I press `h` I go home.

Honestly all these keybinding should never be activated by default, specially when you are writing a comment...

[2019-07-30 15:10] plibither8 commented on #59
I'm apologize for that @PieBover. Ideally the feature had mapped Home for Alt+H but a incorrect, buggy version of the extension which I pushed had incorrect mappings. I pushed the fixed version yesterday, so please update to the latest version. Thanks a lot.

[2019-07-30 15:44] PierBover commented on #59
No worries, thanks again for your work on this extension. It's super helpful!

[2019-08-23 19:07] plibither8 commented on #55
Ping!

[2019-09-16 12:28] jvzr opened #61 "Feature request: Toggle child comment's root"
Hi @plibither8

Quick thank you for your work, I've found this extension to be a great help navigating HN comments.

I've made a few CSS changes which fix some issues I had (see screenshot below):

- easier to collapse top-level comment
- easier to see at which indent level is the comment I'm reading

![image](https://user-images.githubusercontent.com/445151/64957950-55ec0e80-d88e-11e9-86e3-8ee8b0

[2019-09-16 13:11] plibither8 commented on #61
Hi Jerry, thanks for the kind words :)

I'd really like to know more about the CSS changes that you incorporated - maybe I can incorporate them as a native feature the extension provides.

If I understand correctly, all comments above having an indent less than or equal to the comment I click "collapse parents" on will collapse. To clarify, if the comment tree is like so:
* C1
* C1.1
* C1.2
* C1.2

[2019-09-17 06:46] jvzr commented on #61
Hey Mihir,

Thank you for answering blazingly fast!

You'll find my CSS here: https://gist.github.com/jvzr/ec0a5dfa66ff178f4ce01e17f0a2bb01
Some of it is cosmetic preferences, and the rest is to further your work and make the 'collapse rail' as I call it, more visible. I have bad eyes.

Regarding the 'collapse grandparent' feature, this is exactly what you described!
Here's my status: https://gist

[2019-09-17 09:16] plibither8 commented on #61
I'm on mobile right now, so I won't be able to test the custom CSS - I'll reply regarding that separately.

A minor suggestion - let's call the "grandparent" comment the "root" comment. It semantically more sense in my opinion. So instead of "Collapse GP" we can have "collapse root comment" or "collapse root" (also keeping it consistent with other HN links, the inner text should ideally be lowerca

[2019-09-17 18:57] jvzr commented on #61
Hey Mihir,

Excellent suggestion, you mean! Approved 👍

Your implementation is much better indeed. It just needed to 'instantiate' in a way the value of currentRootComment in the for..of loop, otherwise they all ended up with the last root comment.

I got it all working* in Chrome. I haven't had the guts to test it on Firefox (even though that's the browser I use) but I don't see how it would not

[2019-09-17 23:18] nick-s-b opened #62 "Flag any comment from the comments page"
Hi,
Currently to flag a comment (for spam) you have to open the comment in the new page to reveal the 'flag' link. Could we have it so that you can flag a comment from the story's comment page itself?
Thanks!

[2019-09-18 03:15] plibither8 commented on #61
Hi!

I'm so glad that you went along with it all - I can understand the trouble, I'm grateful :)

Alright! So let's get started with the pull request. I assume that since you have installed WSL and Ubuntu now, you have `git` installed too. Otherwise: `sudo apt install git` should do it.

In the terminal, `cd` into the project directory. We want to create a new feature branch with this new feature.

[2019-09-18 03:18] plibither8 commented on #61
From what I see, I don't think you have, till now, forked this repository to your GitHub account. All of the above instructions will only work if you first fork this repository, and then `git clone` the _your_ forked repository. If you require elaboration on this, I'd be more than happy.

[2019-09-18 05:45] jvzr commented on #61
Excellent instructions, thank you again!

I hope I followed them well. You should be seeing the new pull request now :)

[2019-09-18 12:15] plibither8 commented on #62
Thanks for the idea, missed it somehow. Currently working on it, should push to production soon!

[2019-09-20 09:15] #61 closed

[2019-09-20 14:43] plibither8 commented on #62
Hey Nick, I was rethinking about this and what I am worried about is potential misuse of the button since it will be right in front of you, and you don't have to take an extra step to open comment's page - that acts as a sort of deterrent.

Nevertheless to make this feature a bit more inconspicuous, I've enabled it as a keyboard shortcut: if the item is "active" (using `J` and `K` keypresses to na

[2019-09-23 16:27] nick-s-b commented on #62
Flagging of stories is available on the front page of the site. Is it really that dangerous?
How about not making the module enabled by default and you'd have to enable it manually like some other modules? Remembering keystrokes is cumbersome.

[2019-09-23 17:22] plibither8 commented on #62
On second thought, I guess you are right - I forget that stories can be flagged from the front-page. I've added this directly to the comments now next to the "favorite" button, and also enabled the keyboard shortcut.

[2019-09-23 17:38] #62 closed

[2019-09-23 19:33] nick-s-b commented on #62
Awesome! Thank you!

[2019-10-16 12:48] jvzr opened #65 "Feature request: mute users"
Hey Mihir / @plibither8

I hope you're doing great. I was wondering if you were open to the idea of adding the ability to mute users? When muting a user, his/her comments would be collapsed by default.

I recognize that it is not necessarily a good thing to have, but I'd be willing to develop it like I did collapse-root-comment. Ofc I'd prefer you telling me what you think before I start

Best,
je

[2019-12-07 15:31] myfirstnameispaul opened #67 "Highlighted comment text inserted as quoted text incorrectly"
The add-on has the current behavior:

When a comment's text is highlighted, it will be included as quoted text with syntax

[code]

However, the more standard method of quoting a comment on HN is the following:

[code]

Can this be changed? It is very convenient to just highlight and click reply and it seems like it is already very close to being *perfect*.

[2019-12-07 17:43] plibither8 commented on #67
Hi :)

I've come to realise this too, however I thought at that moment that italicising the text gives it a more "quoted" feel since HN doesn't inherintly support quote styling.

What I can do is add this as an option in the popup window: the default action would be not to italice the text so it remains as is.
As for adding the ">" before additional blocks of text, completely agree. I'll add that

[2019-12-07 19:03] #67 closed

[2019-12-07 19:20] plibither8 commented on #67
@myfirstnameispaul I've pushed the new, updated version to the Chrome Webstore and Mozilla Add-ons. It should appear publically in a short while.

[2019-12-07 21:17] myfirstnameispaul commented on #67
Works perfectly in Firefox. Thank you.

[2019-12-12 02:10] cglong opened #68 "Feature request: Open page in Internet Archive"
Shamelessly stolen from [this HN comment](https://news.ycombinator.com/item?id=21766547). It'd be cool if there was a link that would open a link using [the Internet Archive](https://archive.org/); it could even include the submission time to automatically navigate to the closest snapshot 🙂

[2019-12-12 04:25] plibither8 commented on #68
Hi!

Sounds like a great idea. Got a few clarifications: as mentioned in the comment, should this link archive the webpage or should it we an archived version of the page?

[2019-12-12 04:32] plibither8 commented on #65
Hi @jvzr! Great to see you back :)

I know this is a really late reply and I apologise for it.
The feature that you propose seems a tad bit unhealthy. Sure it might come in use sometimes, but it might just encourage the habit of seeing _who_ has posted the comment rather than _what_ they have posted.

Maybe you can fork the repo and work on the feature separately - I will be happy to provide any a

[2019-12-12 04:50] plibither8 commented on #68
I'll probably go with the way savepagenow is handling it: https://github.com/pastpages/savepagenow/blob/master/savepagenow/api.py

[2019-12-12 04:52] cglong commented on #68
Thanks 😄 I was thinking this link would allow you to navigate to an archived version of the page.

[2019-12-12 05:30] plibither8 commented on #68
Yup! If no archived version is found, it will archive it, otherwise return the cached/archived version. How does that sound?

[2019-12-12 05:31] cglong commented on #68
That sounds great! 😄

[2019-12-15 12:59] #68 closed

[2019-12-15 15:04] plibither8 commented on #68
Hey @cglong, I've created the feature and pushed the updated versions to production on Chrome and Firefox. It's up and running on FF, and might take a bit more time to be live on the Chrome Webstore.

Cheers!

[2020-01-12 07:29] lookfirst opened #70 "Feature request: open story comments in new tab"
Similar to `open-story-links-in-new-tab`, but for the link to the comments.

[2020-01-12 16:22] plibither8 commented on #70
Do you want to click the "comments" link and then it opens in a new tab _with focus_, or when you have the item highlighted using keyboard controls, and then open it in a new tab?

[2020-01-13 04:36] lookfirst commented on #70
Does not need focus.

My workflow is to go down the front page and click on all the links that are interesting and open new tabs. When I have time, I go through the tabs and read/close them out. For links I care about the comments, I also open those.

[2020-01-13 09:40] plibither8 commented on #70
Alright got it. How about this: in the popup menu, I add an option which when enabled, performs the action?

[2020-01-13 13:57] lookfirst commented on #70
Default off is fine with me.

[2020-01-25 12:42] glenneroo opened #71 "Extension settings unreadable using Firefox dark theme"
As seen in screenshot:
![image](https://user-images.githubusercontent.com/1424173/73121191-e68ed580-3f77-11ea-93b9-eabe2959be48.png)

To enable dark theme, menu > customize > theme (very bottom) > dark theme.

[2020-01-25 14:27] plibither8 commented on #71
Thanks for pointing this out, will look into it.

[2020-01-29 10:15] #65 closed

[2020-03-19 13:46] #70 closed

[2020-03-19 13:58] lookfirst commented on #70
@plibither8 THANK YOU!  Much happiness!

[2020-03-19 14:00] plibither8 commented on #70
Hey, no problem! I've _just_ published it on Mozilla Add-ons. The Chrome Webstore update might take some time because they have increased their review time.

[2020-03-19 14:03] lookfirst commented on #70
Stay safe man! =)

[2020-03-19 14:10] plibither8 commented on #70
You too! :D

[2020-03-25 18:19] lookfirst opened #73 "[feat] Dark mode"
This simple custom css makes dark mode work surprisingly well.

[code]

Could just be a checkbox.

[2020-03-26 05:19] plibither8 commented on #73
Hi! You're right, this does work really well!
I'll add this as an option in the popup, by which we can autofill the "Custom CSS" field with the dark-mode CSS.

[2020-03-26 05:44] #73 closed

[2020-03-26 05:45] plibither8 commented on #73
I've pushed to master this feature, and the popup now looks like this:
![image](https://user-images.githubusercontent.com/31861755/77614490-16942e00-6f53-11ea-8f50-2e12dca8698d.png)

[2020-04-03 21:57] sjuxax opened #74 "Feature request: convert text surrounded by backticks to monospace."
Most developer-oriented sites will take text surrounded by backticks and make it an inline-monospace font with some highlighting, `like so`. I've always hated that HN doesn't have this and sometimes follow the convention anyway ([this comment](https://news.ycombinator.com/item?id=22774198), for example) in hopes that it would one day become part of the codebase. It'd be awesome if this extension c

[2020-04-04 05:42] plibither8 commented on #74
Hi Jeff, thanks for the request! Seems to be a very reasonable request, and one that should be appreciate unanimously. I'll get to work on as soon as I get some time.

[2020-04-04 06:42] #74 closed

[2020-04-04 06:44] plibither8 commented on #74
Done! This might need some refinement in the future to cover edge-cases, but I guess it works well enough. I'll be pushing the changes to the marketplaces right now, but the Chrome extension might take some time to update.

Thanks once again!

[2020-04-04 06:46] plibither8 commented on #71
Hi @glenneroo, @sjuxax. I was not able to reproduce this on my system, but I've pushed a style file ([webext-base.css](src/webext-base.css)) that should fix this. Please do update!

[2020-04-04 17:34] glenneroo commented on #71
Did you push the update to the Firefox plugin or do I have to manually install the css file somewhere?

I tried via Firefox update mechanism but it says there are no updates:
![image](https://user-images.githubusercontent.com/1424173/78457515-f8dd6c00-76aa-11ea-878b-3f1ce1a00735.png)

Or does it silently update when after restarting my browser?

[2020-04-04 21:06] lookfirst commented on #73
@plibither8 I just tried it, reloaded the page... and the style doesn't apply! =(

![image](https://user-images.githubusercontent.com/85355/78461390-4fcc4c80-767d-11ea-800f-0dd5ebf55741.png)

[2020-04-04 21:08] lookfirst commented on #73
Removing the comment on the first line fixes it.

[2020-04-04 21:10] lookfirst commented on #73
Ah, and now I see you fixed it already. Must have an older version. Cheers!

[2020-04-05 03:26] plibither8 commented on #71
I pushed the update to Mozilla Add-ons, and Firefox should ideally silently update your extension. The latest version is 20.4.4, is that the one you have installed?

[2020-04-05 03:37] plibither8 commented on #73
Hi! Yeah, the commit that I pushed and uploaded to the marketplaces was buggy, apologies for that :/ ! Since then I had fixed the bug (https://github.com/plibither8/refined-hacker-news/commit/c34a8c922943b0ac4f9816a5c8138fde4847e1e2), correcting the CSS comment, but Chrome Webstore takes a hell lot of time for review before publishing - especially these days with reduced staff (according to the em

[2020-04-05 07:33] chris-morgan commented on #74
👎 I strongly believe that this should not be enabled by default, because it changes the meaning of text not uncommonly and is changing the meaning of Hacker News formatting. Immediately after #75 landed, I was talking about reStructuredText on a thread, which uses backticks in some places, and this *butchered* my comment.

It would be OK for Hacker News to introduce something like this—people will

[2020-04-06 05:03] plibither8 commented on #74
Hi @chris-morgan, thanks for the comment. While I do understand your concern here, I won't be able to _disable default_: currently I have not worked up a mechanism to disable features by default. Once I do, I will surely look into this again.

[2020-04-06 19:05] glenneroo commented on #71
I'm on 20.4.4 and it's still unfortunately the same. Did you set your FireFox to dark theme? Otherwise I guess it's one of my many extensions.

[2020-04-08 05:45] plibither8 commented on #71
That's unfortunate :(

I still have not been able to reproduce this on my machine -- I'm using Firefox 74.0.1 on Linux Ubuntu 18.04. What's your system info?

[2020-04-08 11:01] glenneroo commented on #71
Half the battle of fixing bugs is being able to reproduce them ;)

Firefox 74.0.1 on Windows 10.

Here's a list of my extensions:
Name 	Version 	Enabled 	ID
Amazon.com	1.1	true	amazondotcom@search.mozilla.org
Bing	1.1	true	bing@search.mozilla.org
Decentraleyes	2.0.14	true	jid1-BoFifL9Vbdl2zQ@jetpack
DuckDuckGo	1.0	true	ddg@search.mozilla.org
DuckDuckGo Privacy Essentials	2019.12.12	true	jid1-ZAdIE

[2020-04-08 19:47] sjuxax commented on #71
Not fixed here either on Firefox 75b12 or Firefox 76b1 on Win10, nor Firefox 75b12 on Ubuntu 18.10 (haven't tested 76b1). Backticks work though. 😉 🎉

If you don't beat me to it @plibither8, I'll try to debug sometime this week and see if I can see what's going on. I did check the extension debug view briefly and saw some path errors, but didn't do anything more than a superficial glance so they ma

[2020-04-09 04:38] plibither8 commented on #71
Thanks for the details @glennero!

@sjuxax that would be great since I'm not able to reproduce on my machine. Hopefully you'll be able to work it out :D. Thanks!

[2020-04-09 21:34] lookfirst commented on #71
Using Brave, I just noticed it... `20.4.4`

![image](https://user-images.githubusercontent.com/85355/78942738-25103880-7a6f-11ea-9877-b7f3823b0c5d.png)

[2020-04-14 06:36] plibither8 commented on #71
Hi @glenneroo, @sjuxax. I've merged #76 (thanks @lookfirst!) which should fix the issue. I've published the update on the marketplaces (v20.4.14) too.

[2020-04-14 12:21] glenneroo commented on #71
Still unfortunately happening on my end with 20.4.14 and after restarting my browser.

[2020-04-14 12:36] plibither8 commented on #71
I'll try to debug this on my Win10 Firefox tonight when I get time. Thanks for pointing it out.

[2020-04-14 14:06] lookfirst commented on #71
darn that it doesn't fix FF... .14 hasn't hit chromestore yet so i can't confirm it is fixed there...

[2020-04-14 14:49] plibither8 commented on #71
Chrome will take a week or two to update - they're review process takes time, especially during these days.

[2020-04-14 14:55] lookfirst commented on #71
That's insane... =)

Is it possible to easily clone the repo and load it as a dev extension?

[2020-04-14 15:02] plibither8 commented on #71
I can send over the "dist/" directory zipped, and you can load it up on your machine. How's that?

[2020-04-14 15:10] plibither8 commented on #71
[20.4.14.zip](https://github.com/plibither8/refined-hacker-news/files/4476099/20.4.14.zip)

You can unzip this and proceed! :)

[2020-04-14 16:17] lookfirst commented on #71
Thanks! It is fixed in Chrome now. Silly me... loading the extension that way, removed my settings though. =( oh well!

[2020-04-15 05:57] plibither8 commented on #71
Ahh that's unfortunate :/
Thanks for reviewing it though! :)

[2020-06-25 18:16] vanyakosmos opened #79 "[feature request] long show/hide bars on the left side of messages"
On reddit thread can be collapsed using vertical bar no matter how far above root message is. This feature will also help to determine "the level of nesting" of messages and will help to answer the question "is this message reply to the post or some other message?".

<img width="406" alt="Screenshot 2020-06-25 at 21 14 34" src="https://user-images.githubusercontent.com/16745500/85775929-e82c1780-b

[2020-06-26 05:43] plibither8 commented on #79
Hi, thanks for opening the issue. I've thought about this a lot from the start, and implementing this currently would be next to impossible without giving the entire html DOM of the comments page a restructure. This is almost prohibitive because: 1) it'll take a lot of time to think, plan and implement such a solution, 2) it'll be very costly on the performance: changing almost the entire html con

[2020-06-29 00:36] amardeep opened #80 "Feature Request: Add keyboard binding to jump to next new/unread comment."
It is great that this extension highlights new/unread comments. Could you add a keybinding to jump to next such comment?

[2020-06-29 06:05] plibither8 commented on #80
Hi, thanks for opening the issue! This is a neat feature, I'll try to implement it soon. Any suggestions on the proposed key binding for this action?

[2020-06-29 07:57] amardeep commented on #80
Shortcuts are hard, sorry i don't have any strong suggestions.

I don't think n and p are used. So that is an option. Or n and shift-n. N
can be thought of as 'new' comment. Cmd-J/K are other options.

On Mon, Jun 29, 2020 at 11:36 AM Mihir Chaturvedi <notifications@github.com>
wrote:

[2020-06-29 09:00] plibither8 commented on #80
N and Shift+N seems like a good option, thanks!

[2020-07-04 04:27] #79 closed

[2020-07-12 16:51] cougarten commented on #36
I love this one:
chrome: https://chrome.google.com/webstore/detail/hacker-news-mark-all-read/fghfahcbhpdeeaaofcefaoodmfejieok?hl=en
FFox: https://github.com/andreicristianpetcu/HNMarkAllRead/releases

- button for "mark all read"
- if not hidden read links are greyed out too
- exclude from "mark all read" by clicking "follow" on comments  page of a submission (maybe there is a more intuitive way?)

[2020-09-23 06:24] adithyabsk opened #83 "[Feature Request] Open Link and Comments"
Much like the RES features, it would be great if a small icon could be added next to favorite that would open both the link and the comments page for a particular HN post.

https://www.reddit.com/r/Enhancement/comments/1rhkr8/what_do_the_lc_lc_and_lc_mean_below_linkstext

[2020-09-23 06:33] adithyabsk opened #84 "[Feature Request] Built In Dark Mode"
I've been using a modified version of a Hacker News dark mode user styles CSS modification to work with this extension. Though, if dark mode could be added to the extension itself I could ditch the user style.

https://gist.github.com/adithyabsk/33893e52cf3744663a4c18458a087068
The original CSS: https://userstyles.org/styles/184485/hacker-news-basic-dark

[2020-11-12 19:29] boxbeatsy opened #85 "[Feature Request] Blacklist/Block Users"
Thank you for creating such a useful extension!

I love browsing Hacker News and often find the comments section enlightening.  My browsing experience would be considerably enhanced if I could block users who tend to be overbearingly negative/toxic.

Each of us has his/her own opinion on what is toxic, so I definitely think this is the sort of feature that your browser extension could help with (v

[2020-12-08 18:32] Forbo commented on #84
I'm not sure I'm understanding what to do with the CSS that is generated in the extension, or the examples that you link to. Does this require another extension to be installed to apply the CSS?

[2020-12-08 18:35] plibither8 commented on #84
@adithyabsk, the extension popup offers a "Dark Mode" preset that generates dark-mode CSS styles in the "Custom CSS" text field. So technically, it already is built-in.

[2020-12-08 18:36] plibither8 commented on #84
@Forbo After the CSS is generated and filled in the "Custom CSS" text field, just close the extension popup and refresh Hacker News to see the new CSS in effect. :)

[2020-12-08 18:41] adithyabsk commented on #84
@plibither8 oh interesting, I missed that option. For some reason it does not seem to work for me. I can click away from the popup but the preset Dark mode style seems to disappear. (i.e. when I referesh I see no change in site style)

[2020-12-08 18:42] plibither8 commented on #84
@adithyabsk Hmmm, that's weird. Could you check your devtools console to see if any errors were logged?

[2020-12-08 18:45] Forbo commented on #84
I also click the "dark mode" link, click away, refresh, and nothing changes. I also tried closing Firefox and starting it up again, and doing ctrl+shift+r to do a complete refresh. Still no dark mode effect. I get the following message in the console:

Source map error: Error: NetworkError when attempting to fetch resource.
Resource URL: moz-extension://554fa046-0d16-4e9d-a042-728ebf840c93/browser

[2020-12-08 18:48] plibither8 commented on #84
@Forbo I suppose apart from this, the extension is working alright?
@adithyabsk are you on FF too?

[2020-12-08 18:49] adithyabsk commented on #84
@plibither8 no dice, I'm on Chrome.

![Screen Recording 2020-12-08 at 1 45 04 PM](https://user-images.githubusercontent.com/4440808/101527555-2aa28300-395c-11eb-844b-f3a50ea4d7e3.gif)

[2020-12-08 18:51] plibither8 commented on #84
@Forbo I was able to reproduce this bug on Firefox. Will investigate it as soons as I get some time. Could you create a separate issue for this? Thanks! :)

[2020-12-08 18:53] plibither8 commented on #84
@adithyabsk that's... even weirder, seems like the options are not being saved to Chrome's sync storage. If you can, could you right-click the popup icon and inspect it for error logs?

[2020-12-08 18:54] Forbo commented on #71
I'm also getting this in Firefox on Ubuntu. I'm using the "Default" Firefox theme with Gnome Tweaks' "Adwaita-dark" applications theme.
![image](https://user-images.githubusercontent.com/6404250/101527673-8ca6bc80-394b-11eb-99b7-c9aa312a996e.png)

[2020-12-08 18:58] Forbo commented on #84
Can do! The extension otherwise works flawlessly. I love the features you've added, it will make my browsing experience of HN much better! Thank you! I'll open the other issue in just a moment.

[2020-12-08 19:00] Forbo opened #86 "Firefox: Source map error when attempting to apply dark mode."
The dark mode CSS doesn't appear to apply correctly in Firefox on Ubuntu. I find the following in my browser's console:

Source map error: Error: NetworkError when attempting to fetch resource.
Resource URL: moz-extension://554fa046-0d16-4e9d-a042-728ebf840c93/browser-polyfill.min.js
Source Map URL: browser-polyfill.min.js.map

Previously referenced in another issue here: https://github.com/plibit

[2020-12-08 19:00] adithyabsk commented on #84
@plibither8 Looks like Chrome is blocking some asset loads?

![image](https://user-images.githubusercontent.com/4440808/101528808-c1bc0a80-395d-11eb-8d55-5c18ea8a95da.png)

[2020-12-08 19:02] plibither8 commented on #84
@Forbo Awesome, I'm glad it helps otherwise :)

[2020-12-08 19:04] plibither8 commented on #84
@adithyabsk Hmm, that's not quite the issue - the console looks fine :/

This seems to be a hard bug to catch. Could you navigate to `chrome://extensions` and see if RHN logs errors in its background page?

[2020-12-08 19:06] plibither8 commented on #86
Also just to note: I saw your comment on HN and the attached image - the Firefox version does seem to have a _lot_ of bugs especially in the popup. I'll have to properly investigate that soon. The non-buggy version should look like this:

![image](https://user-images.githubusercontent.com/31861755/101529481-9d404c80-39b6-11eb-9410-d1d455a7de8f.png)

[2020-12-08 19:14] adithyabsk commented on #84
@plibither8 Gave that a go as well, still no luck

![Screen Recording 2020-12-08 at 2 10 28 PM](https://user-images.githubusercontent.com/4440808/101530180-933f2f00-395f-11eb-8738-a9fd84b90be0.gif)

[2020-12-08 19:22] plibither8 commented on #84
I was just able to reproduce this - and with a fix! This is insanely stupid, but once you click "Dark Mode" and the text field gets filled, type something, literally anything, into the field and delete it. This should trigger the onChange event that updates the settings, and HN should turn dark on reload.

I think I know the root of the issue: changing the value of the textbox is not causing an on

[2020-12-08 19:22] plibither8 commented on #84
@Forbo, if you could give this a shot too it would be great! Refer to my comment above.

[2020-12-08 19:24] adithyabsk commented on #84
@plibither8 that works! Though, my only issue would be the load time of the app since the screen flickers white before the css theme loads in. That's a minor issue, though. Thanks for working with me to debug this!

[2020-12-08 19:27] plibither8 commented on #84
Ahh yes, that is definitely an issue. I'll need to find a way to supply the CSS at the earliest stages of page rendering. I'll look into that too.

Thanks for bringing this up, quite an annoying bug! I'll attempt to fix it soon. :)

[2020-12-08 19:56] Forbo opened #87 "Unable to donate via PayPal."
When attempting to send you a donation via PayPay, I get a message stating "Sorry, this recipient can’t accept payments right now."

Do you have a Bitcoin or Monero address I could send to, instead?

[2020-12-08 20:05] plibither8 commented on #87
Hi. Thank you very much for considering a donation.

My PayPal account has been temporarily inaccessible because of some changes.

I don't have a Bitcoin/Monero address. Alternately, you could donate through Buy Me A Coffee: https://www.buymeacoffee.com/plibither8 :)

[2020-12-08 20:27] plibither8 commented on #87
@Forbo forgot I do have a BTC wallet. Here's the address: 3F8GaV5zdJqQaij8eSxXCDc97cHgVzFxnD

[2020-12-08 21:20] aheckler commented on #84
One possible change might be wrapping the default CSS in a media query to detect if someone's OS is in dark mode:

[code]

Result being HN shown normally if the OS in in light mode, and your dark mode CSS being used if the OS is in dark mode.

[2020-12-08 21:33] Forbo commented on #84
It looks like that worked for me, as well. Awesome, thank you!

[2020-12-11 17:39] plibither8 commented on #87
@Forbo just wondering if you were considering a donation, I don't mean to sound deperate though :sweat_smile:.

[2020-12-14 21:54] Forbo commented on #87
I sent a tip via xmr.to, it looked like it was set to go through at the time. I'm checking up on it now to see if it did or not.

[2020-12-15 05:48] plibither8 commented on #87
Ahh alright, understood.

On Tue, 15 Dec, 2020, 03:25 Forbo, <notifications@github.com> wrote:

[2021-01-12 20:07] diego898 opened #88 "[Bug?]Firefox Menu appears broken"
The menu appears broken for me:

<img width="555" alt="image" src="https://user-images.githubusercontent.com/742407/104366385-ea946a00-54de-11eb-9057-38ca7b4ff5df.png">

[2021-01-13 05:00] plibither8 commented on #88
Hi @diego898, thanks for opening the issue :). #71 is open and discusses this bug, so I'll keep just that open. I haven't got time to update things on this repo due to work at my uni, I'll get back to it as soon as possible :).

[2021-01-13 05:00] #88 closed

[2021-01-14 12:49] akvadrako opened #89 "backticks-to-monospace breaks toggle-all-comments-and-replies"
`toggle-all-comments-and-replies` adds an event listener to the toggle link, but `backticks-to-monospace` rewrites the innerHTML of a comment, which removes the event listener.

[2021-01-21 19:09] telotortium opened #90 "Hide stories with Hacker News' builtin hide feature when logged in"
Hacker News now has a builtin "hide" button that hides your stories on all devices on which you are logged in. The hide functionality of this extension should use this if you're logged in.

[2021-04-10 16:50] glenneroo commented on #71
This issue is also related to a DarkReader firefox plugin bug-report I just submitted: https://github.com/darkreader/darkreader/issues/5512#issuecomment-817168290

After disabling Refined-Hacker-News, I can once again read code blocks normally, which are otherwise white text on white background, the same as this plugin.

[2021-04-20 03:51] ofek commented on #84
Any update?

[2021-04-20 04:03] plibither8 commented on #84
@ofek Sorry for not being able to close this issue, haven't got much time these days to focus on opensource or my personal projects, admittedly.

What exact issue are you facing?

[2021-04-20 04:06] ofek commented on #84
I was just wondering the status of https://github.com/plibither8/refined-hacker-news/issues/84#issuecomment-740898765

[2021-04-20 04:56] #84 closed

[2021-04-20 05:02] plibither8 commented on #84
@ofek @adithyabsk @Forbo I've just pushed a new update that fixes all the issues listed in this thread (including the flash of the unstyled page). Chrome takes a few days to review and publish the update on their webstore, but the item is available now on FF.

Cheers!

[2021-04-20 05:04] plibither8 commented on #87
@Forbo shall I close this? Since https://paypal.me/plibither8 is working now :)

[2021-04-20 05:05] plibither8 commented on #86
Source-map errors are behind-the-scene errors that don't cause any bugs to the user. This is pretty low priority, so I'll close this but keep a note of it. Thanks!

[2021-04-20 05:05] #86 closed

[2021-04-20 05:14] ofek commented on #84
Thank you!!!

[2021-04-21 17:26] Forbo commented on #87
Looks like Bitcoin fees were probably too high at the time. Looks like Paypal is working, closing this out.

[2021-04-21 17:26] #87 closed

[2021-04-21 17:44] plibither8 commented on #87
Awesome, cheers!

[2021-04-27 02:32] 3v1n0 opened #98 "Use block-quote styled quoted text in comments"
I've recently made [a small user-script for HN](https://greasyfork.org/it/scripts/425598-better-quotes-for-hacker-news) that allows to show quotes as more modern-styled block-quotes, so I was wondering if there would be interest in having something like this in this nice extension instead...

[2021-06-08 21:58] olfilato opened #102 "[Firefox] Extension not loading (the loading wheel keeps spinning)"
Has been unable to use the extension for a while, tried disabling/re-enabling, didn't help. Running the most recent version (21.4.20).

I checked the console, and this is the error I saw.

![image](https://user-images.githubusercontent.com/1832418/121263003-da07d600-c869-11eb-859b-6cb409c3d58b.png)

If I try applying dark mode theme in the extension settings, the dark mode applies properly, but th

[2021-06-09 06:36] plibither8 commented on #102
Hi @olfilato, thanks for opening the issue.

I'm unable to reproduce the issue on Firefox 89.0 (Linux Ubuntu 20.04). Could you give me your browser/system details?

Other than that, it would be awesome if you could dig a bit deeper into the console's error `An unexpected error occurred`:
* Follow the file on linked on the right side of the error message
* pretty print the display (the button is in

[2021-06-10 00:39] olfilato commented on #102
Hi @plibither8 .

I tried digging deeper into the console error before opening the issue, but it just says `undefined` there instead of the actual path, and clicking on it does nothing (as opposed to taking me to the source file, which is what usually happens when it isn't `undefined`). My bad for cropping the original screenshot of the console error in the OP, here is the full version:

![image](

[2021-06-10 00:45] olfilato commented on #102
I have also just tried private tab with every single extension disabled except Refined HN while not logged in. Exact same thing happened there, the extension is still broken for me. If it helps, my FF version is 89.0b12.

[2021-08-02 18:37] jaytaylor opened #103 "Please add /pool to "more links""
Please add [/pool](https://news.ycombinator.com/pool) to "more links".

[2021-08-02 19:32] plibither8 commented on #103
Will do, good sir.

[2021-08-02 19:40] #103 closed

[2021-08-12 17:08] olejorgenb commented on #102
I get the same(?) - spinning wheel with: `TypeError: actualTopBar is undefined` printed in the console.

FF: 90.0
refined-hackers-news: 21.4.20

I also have hn-friends active

[code]

[2021-08-12 18:37] plibither8 commented on #102
@olejorgenb Have you tried disabling hn-friends and checking if this fixes the issue?

@olfilato do you still face this issue?

[2021-08-12 19:40] olejorgenb commented on #102
Tried now - disabling hn-friends does not help.
But I noticed that the error only happens if I open the comment-page from the front page. If I refresh the comment-page the loading completes.

[2021-08-12 21:59] nesl247 commented on #31
Is there any plan to reconsider now that Safari supports the Web Extensions API?

[2021-08-13 09:13] plibither8 commented on #31
Hey! I wasn't aware about this development. But unfortunately I don't have an Apple device to develop for Safari. If you can take this up I'll happily assign and review it :)

[2021-09-13 07:38] Barabara343434 opened #104 "Bbaram"
Baraj

[2021-09-13 10:48] #104 closed

[2021-09-28 21:00] fireattack opened #105 ""toggle all replies" does not work for some replies"
1. Enable it in option.
2. Open this link: https://news.ycombinator.com/item?id=28684406
3. Click the "toggle all replies" under the second reply ("Nostalgia!...").

Nothing happens.

But some others work.

There is also this error in console when I open any link, not sure if related:

[code]

[2021-09-29 02:46] plibither8 commented on #105
Interesting, thanks for letting me know! I'll look into this as soon as I get some time off

[2021-10-01 00:44] dpifke opened #106 "[Feature Request] Filter stories by domain or title"
As suggested in https://news.ycombinator.com/item?id=28687147, I'd love a way to configure domains from which I never want to see any stories.  Bonus points if I could also filter by title keywords/regexes.

Some HN users can't get enough politics, and upvote off-topic stories from known ragebait sites or with certain politicians' names in the story title.  I'm not one of those users.

[2021-10-01 08:08] plibither8 commented on #106
Thanks for opening the issue! In the backlog

[2021-10-06 17:40] brandongalbraith opened #107 "Feature request: gracefully handle reply posting when "You're posting too fast. Please slow down. Thanks." is encountered"
When posting a comment reply, if your Hacker News account is in the "penalty box" you might receive the error message ["You're posting too fast. Please slow down. Thanks."](https://github.com/minimaxir/hacker-news-undocumented/issues/21):

![Screen Shot 2021-10-06 at 1 37 55 PM](https://user-images.githubusercontent.com/350893/136255113-531d2f64-efaf-4f82-80de-cb80456bd45c.png)

Would it be possib

[2021-10-09 23:33] vwkd opened #108 "Safari Web Extension"
Continuing #31 which was closed since Safari now supports [Web Extension](https://developer.apple.com/documentation/safariservices/safari_web_extensions)

Anyone wants to take this up?

[2021-10-19 08:39] fireattack opened #109 "Infinite loading at the homepage"
[code]

At

https://github.com/plibither8/refined-hacker-news/blob/ec1ddb19119b56f73a85ad79dd0a995d03124074/src/libs/dom-utils.js#L70

There is no `storylink` class on the page at all, only `titlelink`. Not sure if that's something gets changed lately on HN's side.

[2021-10-19 19:18] fnordson commented on #109
I have the same issue.
Sorting not possible also and constant loading animation:

![grafik](https://user-images.githubusercontent.com/5624605/137976192-8d949fd5-8abd-49ea-8461-1d84c6cd9f6d.png)

Firefox 93.0
Windows 10

[2021-10-20 10:45] plibither8 commented on #109
Ah damn it, this seems to be a change in the code of HN itself. I'll post a quick fix for this by EOD. Thanks a lot for bringing it to my attention! :) @fireattack @fnordson

[2021-10-20 11:00] plibither8 commented on #109
@fireattack @fnordson I've pushed a fix and updated the versions on the Chrome and Firefox stores. The FF Add-on should be up and live in a few minutes but Chrome usually takes a few days to review and publish it. Thanks again :)

[2021-10-20 16:10] fnordson commented on #109
Got it. Thank you it fixed the problem :)

[2021-11-08 22:14] robbiet480 commented on #108
Took a quick run at this:

[code]

How critical are the `history` and `applications` permissions? Can the background page be non-persistent (it must be if you want to run on iOS).

[2021-12-02 05:01] sanketpatrikar opened #110 "Bug: Features don't work on newly added /asknew and /shownew"

[2021-12-03 14:37] G2G2G2G commented on #107
Yea via html5 local storage it's fairly straightforward

[2022-01-19 01:11] jacalata commented on #107
They probably don't want to because you see this when dang has decided you're an ass, and your comment probably isn't worth having anyway.

[2022-01-26 20:01] malcook opened #111 "Feature Request: new shortcut, ?, ppen keyboard shortcut help"
For easy reference, it would be great if typing "?" popped open a cheat sheet listing all keyboard shortcuts.

[2022-03-14 07:38] lookfirst opened #113 "[Feature] Avatars"
Kind of an interesting consideration:

https://news.ycombinator.com/item?id=30668137

[2022-03-14 13:32] BorisKourt commented on #113
There is a PR already! https://github.com/plibither8/refined-hacker-news/pull/114

[2022-03-14 15:08] lookfirst commented on #113
Thanks @BorisKourt

[2022-03-14 15:08] #113 closed

[2022-04-07 04:27] #107 closed

[2022-04-20 13:34] andrewrondeau-optirtc opened #115 "[Feature Request] Favicons"
First, thanks for this awesome plugin. I've been using it for about a month and I love it!

IMO, a *really* cool feature would be to incorporate the favicons.js use case that recently made the HN frontpage:
- https://gist.github.com/frabert/48b12088441f6195ea9292c2a5a77e3a
- https://news.ycombinator.com/item?id=31095046

[2022-05-21 15:54] kaushalyap opened #116 "Option to hide posts where comments were read"
Currently, filter option allow only to hide already read posts (visited links, posts without links), please provide an option to hide posts where comments were read (and also option to light post title color)

[2022-06-19 08:18] egor83 opened #117 "Highlight new (unread) comments doesn't work on 2nd page of comments"
Tested here:
https://news.ycombinator.com/item?id=31790029&p=2

That said, it's a neat extension, thanks for creating it!

[2022-08-07 00:04] ParkerM commented on #71
The settings become legible if you turn off the `popup.css` style sheet. Perhaps the issue is somewhere in there.

With popup.css enabled:
![image](https://user-images.githubusercontent.com/5124113/183269566-8eba4ab5-6f3d-4474-a6c0-c41f1914d628.png)

With popup.css disabled:
![image](https://user-images.githubusercontent.com/5124113/183269497-7e950d17-0961-493f-a32d-70ca629cb20e.png)

[2022-08-20 01:21] ustamills commented on #106
Bump. Having category lists would help too. Think: one category could be a list of paywall sites.

[2022-08-26 19:45] krtkush opened #119 "Option to auto-enable/disable Dark Mode based on browser theme"
Most major websites today come with the option to change their theme based browser's theme. Would be nice if RHN could do the same with its own dark mode.

[2022-08-26 19:47] plibither8 commented on #119
Hey @krtkush. Does the following "Custom CSS" help?

[code]

I've been using it myself for quite some time, works well for me. Let me know 🙂

[2022-08-26 19:50] krtkush commented on #119
Works perfectly!

Thank you for the quick response :)

[2022-08-26 19:50] #119 closed

[2022-09-16 18:13] lookfirst opened #120 "[Feature] Upload images/videos"
I know, HN doesn't support this, but bear with me for a moment.

What if, this extension abused the formatting of comments to allow some special formatting that this extension would then be able to parse and render for us? Something like, say... allow markdown in comments. The extension would then parse each comment and render the markdown directly.

Then, someone could either link to a photo or u

[2022-09-25 17:50] lookfirst opened #121 "Error in console"
![2022-09-25 at 17 49 49](https://user-images.githubusercontent.com/85355/192157705-3c0881e1-74e5-4d58-bf48-781f91c9d8d5.png)

![2022-09-25 at 17 50 23](https://user-images.githubusercontent.com/85355/192157719-1f3835d4-c8f6-462b-a84c-23e3d517b860.png)

[2022-09-25 17:52] plibither8 commented on #121
Hi @lookfirst, thanks for bringing this up! I too noticed it today, along with another bug regarding the positioning of the "favorite" link. I'll be looking into this and soon have an update ready. Thanks again :)

[2022-09-25 17:54] lookfirst commented on #121
Yea, I just noticed that I can't 'favorite' or 'flag' comments any more.

Looking at the code in utils.js, I'd re-work the general logic at the arrows too... you're basically checking for it to be null after having tried to use it...

![2022-09-25 at 17 53 36](https://user-images.githubusercontent.com/85355/192157881-c8931664-c56c-40b7-81bd-f82180aaa29e.png)

[2022-09-25 17:58] plibither8 commented on #121
Good catch with that! Not shifting blame, but I recall those lines of code being part of someone else's PR -- should've tested it out better back then 😄.

The entire codebase is in serious need of a refactor, since the code basically represents my abilities and understanding of when I was in highschool xD. Hopefully I've matured enough since to make it more error-prone now, when I get a chance too

[2022-09-25 18:03] plibither8 commented on #120
Thanks for the detailed feature request!

I understand where you're coming from, and this is something that could be beneficial in the eyes of a significant set of users. However, I do foresee a large backlash for a feature like this. The sole motto of this extension was to keep the soul of HN (simplicity) sacrosanct, and somehow I feel _rendering_ markdown in comments seems to be a step away from

[2022-09-26 06:02] plibither8 commented on #121
I've fixed this bug, along with a few other and pushed the update for review to the Chrome Webstore. It should be live in a couple of days.

[2022-09-26 06:02] #121 closed

[2022-09-26 06:03] #120 closed

[2022-09-26 15:22] lookfirst commented on #121
@plibither8 No worries and no blame! Thanks for the fast action on things. Super appreciate it.

[2022-09-27 18:38] lookfirst opened #122 "TypeError: Cannot read properties of null (reading 'href')"
Sorry man, another NPE...

![2022-09-27 at 18 37 18](https://user-images.githubusercontent.com/85355/192608889-45e5ada9-2d1d-4149-a7bb-fdf78eb6f5e6.png)

[2022-09-27 18:39] plibither8 commented on #122
Oof, that's frustrating. Thanks for pointing it - I'll have a look at it tomorrow! :)

[2022-09-28 15:14] plibither8 commented on #122
Fixed in https://github.com/plibither8/refined-hacker-news/commit/86575a1b7e4ddefbc85daecd3fd2ac79b691e96b and uploaded to the extension stores. Updates should be out soon, thanks for the patience! :)

[2022-09-28 15:14] #122 closed

[2022-11-13 18:38] lookfirst opened #124 "Uncaught (in promise) TypeError: Cannot read properties of null (reading 'querySelectorAll')"
[code]

[2022-11-16 16:17] plibither8 commented on #124
Thanks @lookfirst, got this error too - looking into it!

[2022-11-16 17:01] lookfirst commented on #124
Thank you sir. I'd submit PR's but I honestly can't work in JS... I'm so used to TS... would you be open to a conversion?

[2022-11-17 07:04] plibither8 commented on #124
@lookfirst sure! I've been contemplating for I don't know how long to do a massive refactor and rewrite the extension in TS. Would LOVE help with that too. Till then if you have capacity to look into this error and try your hand at it, I'd love to help you out! 🙂

[2022-11-17 07:37] theY4Kman commented on #124
It looks like `table.itemlist` is no longer an appropriate selector to get the `<table>` holding the stories. There doesn't appear to be any unique identifier on that table at all, any more. I've been testing out `#hnmain table:has(.athing)` as the selector instead.

[2022-11-18 10:05] plibither8 commented on #124
Thanks for the headsup @theY4Kman, I'll hopefully get time this weekend to deepdive into the issue, but the scope itself seems pretty large and would require a large-scale refactor... not looking forward. 😔

[2022-11-18 16:01] lookfirst commented on #124
Try emailing @dang and asking him to add it back or make it simpler? I bet
he would be responsive.

On Nov 18, 2022 at 2:05:46 AM, Mihir Chaturvedi ***@***.***>
wrote:

[2022-11-18 18:23] lookfirst commented on #124
Oddly, ran across this whole blog post on `:has`

https://webkit.org/blog/13096/css-has-pseudo-class/